.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-hero);
}

.heroBanner::before,
.heroBanner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.heroBanner::before {
  left: 0;
  background-image: url('https://docs.plivo.com/assets/new_docs/images/bg-line01.png');
}

.heroBanner::after {
  right: 0;
  background-image: url('https://docs.plivo.com/assets/new_docs/images/bg-line02.png');
}

.features {
  padding: 2rem 0;
}

.titleWrapper {
  width: 60%;
  margin: 0 auto;
}

.main_title {
  font-weight: 300;
  line-height: 1.4;
  word-wrap: break-word;
}

.main_container{
  display:'flex',;
  flex-direction: 'column';
  margin: 0 250px ;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center; /* Center cards horizontally */
}

.card {
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 0.5rem;
  flex: 1 0 33.333%; /* Responsive width with min-width */
  max-width: 30%; /* Maximum width for cards */
  margin: 0.5rem; /* Consistent margin */
}

.cardContent {
  position: relative;
  padding: 1rem;
}

.button-started{
  color: rgb(35, 140, 35);
}


.cardImgWrapper {
  float: left; /* Float the wrapper to the left */
  margin-right: 1rem; /* Add space between the image and the text */
  display: flex;
  align-items: start; /* Center the image vertically within the div */
  justify-content:left;
  width: 100%;
}

.cardImg {
  width: 40px;
  position: relative; /* Removed absolute positioning */
  margin: 1rem 0.5rem;
  display: block; /* Ensures image takes up full width */
}

.cardText {
  margin-left: 0; /* Removed margin-left */
  text-align: left;
}

.text--center h3 {
  margin-top: 1rem;
}

.button {
  margin-top: 1rem;
}

/* Media Queries for better responsiveness */
@media (max-width: 768px) {
  .card {
    flex: 1 0 100%; /* Stack cards vertically on smaller screens */
    max-width: 100%; /* Full width on smaller screens */
  }

  .main_container{
    flex: 1 0 100%; /* Stack cards vertically on smaller screens */
    max-width: 100%; /* Full width on smaller screens */
    margin: 0;
   }
}