/* Set the height of the parent container to 100% */
.snippet-tabs {
    background-color: #2A2A3C;
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

.snippit-main{
    height: 100%;
    max-height: 100vh;   
}

/* Make the tabs container flexible */
.tabs {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Ensure tab buttons take space */
.tab-button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #2A2A3C;
    color: #ffffff;
    margin-right: 5px;
    border-radius: 4px 4px 0 0;
    flex-shrink: 0;
}

/* Active tab styling */
.tab-button.active {
    background-color: #2a2a3b;
    border-bottom: 2px solid #4caf50;
    color: #4caf50;
    z-index: 3;
}

/* Ensure snippet content takes remaining space */
.snippet-content {
    flex-grow: 1;
    border-top: 1px solid #fff;
    background-color: #2a2a3b;
    padding: 16px 0;
    border-radius: 0 0 8px 8px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    top: -1px; /* Adjusts the position slightly above */
}


/* Ensure pre element fills the height */
pre {
    margin: 0;
    background-color: #212130;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: 0;
    border-radius: 4px;
}

/* Line Number Styling */
.line-number {
  display: inline-block;
  width: 2em;
  text-align: right;
  margin-right: 1em;
  color: #6272a4; /* Adjust color as needed */
  user-select: none;
}

pre code {
    display: block;
    white-space: pre;
    word-wrap: normal;
    padding: 10px;
    flex-grow: 1;
    font-size: 14px;
    line-height: 0.8; /* Adjust this value to reduce line spacing */
}

/* Styling specific parts of the code */
pre code .keyword {
    color: #ff79c6;
}

pre code .string {
    color: #f1fa8c;
}

pre code .comment {
    color: #6272a4;
}

/* Styling for built-in functions */
pre code .built_in {
  color: #89b4fa;
}

/* Styling for numbers */
pre code .number {
  color: #f8bd96;
}

/* Button for copying code */
.copy-button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Add some space between copy button and copy success */
}

.copy-button:hover {
    background-color: #388e3c;
}

.copy-success {
    color: #28a745;
    font-size: 14px;
    /* margin-left: 10px; */ /* Remove margin for better spacing */
    display: inline-block; /* Allow wrapping for copy success */
}

/* Version Tabs Styling */
.version-tabs {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 10px; /* Add some space between version and language tabs */
}

.version-tab-button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background-color: #3E3D4E; /* Slightly darker background for version tabs */
    color: #878792;
    margin-right: 5px;
    border-radius: 4px 4px 0 0;
    font-weight: bold; /* Make version tab text bold */
}

.version-tab-button.active {
    background-color: #3E3D4E;
    border-bottom: 1px solid #2a2a3b;
    color: #ffffff;
}

/* Response Section Styling */
.response-section {
    margin-top: 20px;
    border-top: 1px solid #444; /* Light separator line */
    padding-top: 15px;
}

.response-section h3 {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 0.873rem; /* Green color for section headers */
}

.response-section p {
    margin-bottom: 10px;
    padding: 10px;
    color: #ffffff; /* White text for regular content */
}

/* Rating Section Styling */
.rating-section {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 15px;
}

.rating-section h3 {
    margin-bottom: 5px;
    color: #4caf50; /* Green color for section headers */
}

.response-section pre code{
    display: block;
    white-space: pre;
    word-wrap: normal;
    padding: 10px;
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.2; /* Adjust this value to reduce line spacing */
}

.stars {
    display: inline-block;
    margin-top: 5px; /* Add some space above the stars */
}

.star {
    font-size: 20px;
    color: #ccc; /* Default star color */
    cursor: pointer; /* Make stars clickable if you want to implement rating functionality */
}

.star:hover,
.star.active {
    color: #ffcc00; /* Change color on hover or when active */
}

